:root {
    /* COLORS */
    --darkblue: #13293D;
    --blue: #5BC0EB;
    --yellow: #FDE74C;
    --green: #9BC53D;
    /* FONTS */
    --main-font: "Spline Sans Mono", monospace;
    --secondary-font: "Poppins", sans-serif;
}

/* GLOBAL */
body {
    color: var(--darkblue);
    font-family: var(--secondary-font);
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font);
} p {
    font-family: var(--secondary-font);
} button {
    background-color: var(--green);
    padding: 1rem 0.8rem;
    border: 0;
    border-radius: 8px;
    box-shadow: 2px 2px 2px var(--darkblue);
}
header, footer {
    color: white;
    background-color: var(--darkblue);
} main {
    text-align: center;
}

/* HEADER */
header h1 {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
} .logo-div {
    vertical-align: middle;
}

/* MAIN */
main {
    padding: 1.5rem;
}
main section h2 {
    text-transform: uppercase;
    text-align: center;
}
/* search bar */
.location input[type=text] {
    padding: 1rem 1.5rem;
    margin: 4rem 0;
    border-radius: 10px;
    border: 0;
    background-color: lightgray;
    min-width: 40%;
} 
.user-location:hover, .location button:hover {
    cursor: pointer;
}
main section:not([class=location]), .five-day-forecast, .maps {
    padding: 1rem;
} 
/* weather sumary */
.summary-div {
    background-color: lightgray;
    border-radius: 15px;
    padding: 1rem;
    min-height: 100px;
}