:root {
    --darkblue:  #13293d;
    --lightblue:  #5bc0eb;
    --yellow:  #fde74c;
    --green:  #9bc53d;
    --headerFont:  "Spline Sans Mono", monospace;
    --pFont:  "Poppins", sans-serif;
    --font-base:  18px;
    --small-font:  0.8em;
    --large-font:  1.2em;
}

html {
    line-height: 1.5;
    font-family: "Spline Sans Mono", monospace;
}

/*BODY*/
body {
    color: rgb(19, 41, 61);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*GLOBALS*/
h1, h2, h3 {
    font-size: 2rem;
    margin: 0.67em 0;
    font-family: "Spline Sans Mono", monospace;
    text-align: center; 
}
h3 {
    font-size: 1.5rem;
}

p {
    font-family: "Poppins", sans-serif;
}
button {
    background-color: rgb(155, 197, 61);
    color: rgb(19, 41, 61);
    display: block;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: rgb(19, 41, 61) 0px 0px 15px;
    padding: 0.5em 1em;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(19, 41, 61);
    border-image: initial;
    border-radius: 15px;
}

/*HEADER*/
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: rgb(19, 41, 61);
    color: white;
    text-align: center;
    padding: 0.5rem;
}
header img {
    margin-right: 2rem;
}

/*MAIN*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: auto 0px;
}
main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: auto 0px;
}
section div {
    box-shadow: rgb(19, 41, 61) 0px 0px 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(155, 197, 61);
    border-image: initial;
    border-radius: 15px;
    padding: 2em;
}
.summary-div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 3rem;
}

/*SEARCH*/
.search-form {
    display: flex;
    flex-direction: row;
    margin: auto;
}
input {
    padding: .5rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(19, 41, 61);
    border-radius: 15px 0 0 15px;
    box-shadow: rgb(19, 41, 61) 0px 0px 15px;
}
#search {
    border-radius: 0 15px 15px 0;
}
#suggest-list {
    /* background-color: lightgrey; */
    min-height: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
} #suggest-list li {
    list-style: none;
    padding-bottom: 0.2rem;
    color: var(--darkblue);
}

/*DEGREE SELECTION*/
.degree-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}
.degree-div {
    border: none;
    box-shadow: none;
    padding: .25rem;
}

.maps {
    display: none;
}

/*5 Day Forecast*/
#five-day-forecast span {
    margin: 0;
}
#five-day-forecast-sections .hidden {
    display: none;
}
#five-day-forecast-sections.forecast-div {
    box-shadow: none;
    border: none;
    padding: 0;
}
#five-day-forecast {
    margin: auto;
    width: 95%;
    padding: 0;
    min-width: min-content;
    max-width: 825px;
}
#five-day-forecast-sections {
    display: block;
    width: 100%;
}
#five-day-forecast-sections section {
    display: grid;
    box-shadow: rgb(19, 41, 61) 0px 0px 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(155, 197, 61);
    border-image: initial;
    border-radius: 15px;
    padding: 1.5em 1.5em 0em 1.5em;
    margin: 0;
}
.five-day-forecast * {
    margin: .1em;
}
.five-day-forecast h3 {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: left;
}
.five-day-forecast p:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 2/3;
}
.five-day-forecast p:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 3/4;
}
.five-day-forecast p:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 3/4;
}
.five-day-forecast p:nth-of-type(4) {
    grid-column: 3/4;
    grid-row: 2/3;
}
.five-day-forecast img {
    grid-column: 2/3;
    grid-row: 2/4;
}
.five-day-forecast button {
    grid-column: 1/4;
    grid-row: 4/5;
    margin: 5px auto;
    font-size: .8em;
    box-shadow: rgb(19, 41, 61) 0px 3px 3.75px;
    float: right;

}
/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: rgb(19, 41, 61);
    color: white;
    text-align: center;
    padding: 2rem;
}
footer p {
    margin: 0px;
}
